@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f5f5f5;
    
}


.container {
    display: flex;
    background-image: linear-gradient(to left, #007BB7, #A1CCE8, #469FD5, #004F8C, #B3E5FC);
    background-size: 500% 100%;
    animation: degrade-animado 10s infinite alternate;
    padding: 20px;
    
}

@keyframes degrade-animado {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position-x: 100%;
    }
}

.sidebar {
    padding: 20px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.sidebar .menu-item {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 24px;
    color: #fff;
    transition: all 0.3s ease;
}

.sidebar .menu-item:hover {
    border-radius: 50% 20% 50% 20%;
    padding: 20px;
    display: inline-block;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px 0px 0px 10px;
}

.main-contentinicio {
    flex: 1;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    height: 700px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
}

.main-content-cad {
    flex: 1;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    height: auto;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4
    );
}


.main-content-inicio {
    height: 50%;
    font-size: 20px;
    margin: auto;
    padding: 135px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

button {
    background-image: linear-gradient(to left, #007BB7, #A1CCE8, #469FD5, #004F8C, #B3E5FC);
    background-size: 500% 100%;
    animation: degrade-animado 10s infinite alternate;
    padding: 15px 40px;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
    border: none;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4);
    
}
button:hover {
    transition: all 0.3s ease;
    padding: 17px 45px;
}

.menu {
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.header h1 {
    margin: 0;
}

.add-patient-btn {
    color: #fff;
    background-color: #007BB7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.report {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.report-item {
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    text-align: center;
    font-size: 24px;
    background-color: #007BB7;
}

.calendar {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.0);
    ;
    padding: 20px;
    border-radius: 10px;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#calendar-header button {
    color: #fff;
    background-color: #007BB7;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#calendar-header h2 {
    margin: 0;
    font-size: 18px;
    color: #000000;
}

#calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

#calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

#calendar-dates div {
    padding: 10px;
    margin: 2px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

#calendar-dates div:hover {
    color: #fff;
    background-color: #007BB7;
}

.profile {
    width: 300px;
    background-color: #F5F5F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 0px 10px 10px 0px;
}

.profile-img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.last-patients {
    width: 100%;
}

.patient-stats {
    width: 100%;
}

.patient-stats canvas {
    width: 100%;
    height: 100px;
}

-------form------
form {
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 900px;
    padding: 20px;
    background-color: #fff; 
    border-radius: 20px;
}

.form-group {
    width: calc(45%); 
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form input,
form select,
form textarea {
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #ccc;
    background-color: #f7f8fc;
    font-weight: bold;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-size: 16px;
}


form .form-group.full-width {
    width: 100%; 
}


form input:focus,
form select:focus,
form textarea:focus {
    border-color: #004F8C;
    outline: none;
}

form button {
    width: 100%;
}

form button:hover {
    background-color: #003366;
}

.header-cad {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(to left, #007BB7, #A1CCE8, #469FD5, #004F8C, #B3E5FC);
    background-size: 500% 100%;
    animation: degrade-animado 10s infinite alternate;
    border-radius: 10px;
}